.header-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-container img {
    margin: 5px;
    padding: 5px;
    height: 50px;
}